/* aca iran todos los estilos personalizados y separados */

.stiloLogoNav {
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}
.stiloLogoNav:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 10px #4e4f4f;
}

/* logo carrito */
.logoCarrito{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  display: inline-block;
}

.logoCarrito:hover {
  transform: scale(1.4);
}